@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: "Gilroy";
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    background-color: #F6F6EE;
}

#nav{
    width: 100%;
    height: 15vh;
    background-color: #F6F6EE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4vw;
}

#nav h3{
    text-transform: uppercase;
    font-weight: 400;
}

#nav h3 span{
    font-weight: 600;
}

#nav #links{
    display: flex;
    gap: 20px;
}

#nav #links a{
    text-decoration: none;
    font-weight: 100;
    font-size: 15px;
    font-family: 'Playfair Display', serif;
    color: black;
}

#heading{
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #F6F6EE;
}

#heading h1{
    font-family: 'Playfair Display', serif;
    font-size: 40px;
}

#heading p{
    font-size: 12px;
    text-align: center;
    width: 50%;
    margin: 20px 0px;
}

#heading button{
    padding: 12px 32px;
    background-color: black;
    color: #fff;
    border-radius: 100px;
}

#illustration{
    width: 100%;
}

#illustration img{
    width: 100%;
}

#details{
    width: 100%;
    background-color: #F6F6EE;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    padding: 10vw 5vw;
}

#details #dleft{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 48%;
    border-right: 2px solid #000;
    text-align: right;
    padding-right: 50px;
}

#details #dleft p{
    width: 40%;
    font-size: 12px;
    text-align: right;
}

#details #dleft #smline{
    width: 10%;
    height: 2px;
    background-color: #000;
    margin: 20px 0;
}

#details #dright{
    width: 48%;
}

#dright .feature{
    display: flex;
    gap: 20px;
}

#dright .feature{
    display: flex;
    gap: 20px;
}

.feature p{
    margin-top: 10px;
    font-size: 12px;
    width: 50%;
}

#dright .feature-2{
    margin-top: 15px;
    display: flex;
    gap: 20px;
}

.feature-2 p{
    margin-top: 10px;
    font-size: 12px;
    width: 50%;
}

